@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*		
    font-family: 'DM Serif Display', serif;
		font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
*/

/* Nomalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style:none;

}


a{
    color:inherit;
    text-decoration: none;
}

/* End Nomalize */






/* Lib */




/* End Lib */







/* Custom */
 





html{
  background-color: #0d0d0d;
  width:100vw;
}



/* Scrollbar start */
html{
  width:100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
 /* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
    
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
    text-align: center;
    vertical-align: center;
    line-height:75px;
    font-family:'roboto','sans-serif';
    font-weight:400;
  }




  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
    .need-to-cursor-big{
      display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: #0d0d0d;
    color: #F2F0F0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'Roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:#f2f0f0;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color: #0439D9;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





  /* Header */
    .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
  
  .header-logobox{
    z-index: 300;
  }

  .header-logobox > a{
    font-family:'Roboto','sans-serif';
    font-weight: 700;
    color:white;
    vertical-align: middle;
    font-size:1.2rem;
    padding:3px;
    z-index: 300;
  }
 
  .header-menubox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;
    position: relative;
    z-index: 201;
  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > div:nth-child(1){
    display:none;
  }

  .header-menubox:hover > div:nth-child(3){
    display:none;
  }

  .header-menubox:hover > div:nth-child(2){
    width:25px;
    height:25px;
  border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:#0d0d0d;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  font-family:'Roboto','sans-serif';
  font-weight:700;
  justify-content: center;
  align-items: center;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper div:hover {
  text-decoration: underline;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}

.displayFlex{
  display:flex;
  flex-direction: column;
}
  
  /* End Header */

  






  /* Main */






    /* card-1 */
.area-1 {
    position:relative;
    height:100vh;
    width:100vw;
    background-color: #0d0d0d;
    overflow: hidden;
  }

  .area-1 > .image-box{
    display:flex;
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: 100;
    transition: 1s ease-in-out;
    

  }

  .area-1 > .image-box img{
    position:absolute;
    object-fit: cover;
    width:30%;
  }
  
  .area-1 > .image-box img.img-hand{
    scale:1.2;
    left:60vw;
    top:5vh;
  }
  .area-1 > .image-box img.img-public{
    scale:0.8;
    left:72vw;
    top: 45vh;
    
  }

  .area-1 > .image-box img.img-couple{
    scale:0.2;
    top:50vh;
    left:20vw;
    
  }

  .area-1 > .image-box img.img-telescope{
    scale:0.5;
    left:12vw;
    top:-18vh;
    
  }

  .area-1 > .image-box > img.img-car{
    scale:0.5;
    top:55vh;
    left:5vw;
  }

  .area-1 > .image-box > img.img-samurai{
    scale:0.25;
    top:15vh;
    left:29vw;
  }

  .area-1 > .image-box > img.img-dragon{
    scale:0.5;
    top:-5vh;
    left:40vw;
  }

  .area-1 > .image-box > img.img-lotus{
    scale:0.6;
    top:28vh;
    left:-1vw;
  }

.area-1 > .slogan-container{
  display:flex;
  flex-direction: column;
  position:relative;
  width:90vw;
  height:80vh;
  left:10vw;
  top:20vh;
  
  font-family:'Roboto', 'sans-serif';
  font-weight:900;
  font-size:12rem;
  color:#F2F0F0;

  z-index: 1;
}


.area-1 > .slogan-container > .slogan-box-down{
  margin-top:-20vh;
}




.area-1 > .guide-container{
  display:flex;
  position:relative;

  align-items: flex-end;
  justify-content: center;
  
  width:100vw;
  height:20vh;
  
  opacity:.9;
  
  font-family:'Roboto', 'sans-serif';

  font-size:1rem;
  font-weight:300;
  color:#F2F0F0;

  z-index: 1;
}


.area-1 > .guide-container > .guide-box{
  display:flex;
  position:absolute;
  justify-items: center;
  text-align: center;
  padding-bottom:10px;
  z-index: 1;
}


@media screen and (max-width:960px){
  .area-1 > .image-box img{
    position:absolute;
    object-fit: cover;
    width:60%;
    top:-10vh;

  }

  .area-1 > .image-box img.img-hand{
    scale:0.8;
    left:60vw;
    top:-15vh;
  }
  .area-1 > .image-box img.img-public{
    scale:0.5;
    left:55vw;
    top: 35vh;
    
  }

  .area-1 > .image-box img.img-couple{
    scale:0.15;
    top:25vh;
    left:10vw;
    
  }

  .area-1 > .image-box img.img-telescope{
    scale:0.3;
    left:24vw;
    top:-33vh;
    
  }

  .area-1 > .image-box > img.img-car{
    scale:0.4;
    top:30vh;
    left:-10vw;
  }

  .area-1 > .image-box > img.img-samurai{
    scale:0.15;
    top:-3vh;
    left:20vw;
  }

  .area-1 > .image-box > img.img-dragon{
    scale:0.3;
    top:-17vh;
    left:35vw;
  }

  .area-1 > .image-box > img.img-lotus{
    scale:0.3;
    top:8vh;
    left:-6vw;
  }

  .area-1 > .slogan-container{
  
    font-size:5rem;
    text-align: center;
    margin-left:-5vw;
    margin-top:10vh;
}

.area-1 > .slogan-container > .slogan-box-down{
  margin-top: -11vh;
}

.area-1 > .guide-container > .guide-box{
  display:flex;
  position:absolute;
  justify-items: center;
  text-align: center;
  padding-bottom:100px;
}
}


@media screen and (max-width:480px){
  .area-1 > .image-box img{
    position:absolute;
    object-fit: cover;
    width:100%;
    top:-10vh;

  }
  .area-1 > .image-box img.img-hand{
    scale:1.2;
    left:60vw;
    top:5vh;
  }
  .area-1 > .image-box img.img-public{
    scale:0.5;
    left:30vw;
    top: 42vh;
    
  }

  .area-1 > .image-box img.img-couple{
    scale:0.15;
    top:50vh;
    left:-10vw;
    
  }

  .area-1 > .image-box img.img-telescope{
    scale:0.5;
    left:12vw;
    top:-18vh;
    
  }

  .area-1 > .image-box > img.img-car{
    scale:0.4;
    top:58vh;
    left:-23vw;
  }

  .area-1 > .image-box > img.img-samurai{
    scale:0.15;
    top:15vh;
    left:-5vw;
  }

  .area-1 > .image-box > img.img-dragon{
    scale:0.3;
    top:3vh;
    left:0vw;
  }

  .area-1 > .image-box > img.img-lotus{
    scale:0.4;
    top:23vh;
    left:-40vw;
  }

  .area-1 > .slogan-container{
  
    font-size:5rem;
    text-align: center;
    margin-left:-5vw;
    margin-top:10vh;
}

.area-1 > .slogan-container > .slogan-box-down{
  margin-top: -11vh;
}

.area-1 > .guide-container > .guide-box{
  display:flex;
  position:absolute;
  justify-items: center;
  text-align: center;
  padding-bottom:100px;
}
}
/* End area-1 */









/* area-2  */
.area-2{
  display:flex;
  position:relative;
  height:300vh;
  width:100vw;
  overflow:hidden;
  background-color: #F2F0F0;
}
.area-2 > .dot{
  position:absolute;
  transform: translateX(-50%);
  left:50%;
  width:15px;
  height:15px;
  border-radius: 100%;
  background-color: #F2F0F0;
  animation: blink 1s infinite;
  z-index: 1;
}


@keyframes blink{
  0%{
    opacity:0;
  }

  50%{

  }

  100%{
    opacity:1;
  }
}


.area-2 > .intro-background-container{
  display:flex;
  flex-direction: column;
  position:block;
  height:200vh;
  width:100vw;
  background-color: #0d0d0d;
  align-items: center;
}

.area-2 > .intro-background-container > .intro-box{
  display:flex;
  flex-direction: column;
  height:120vh;
  width:100vw;
  margin-top:60vh;
  z-index: 1;
  
}

.area-2 > .intro-background-container > .intro-box > .intro-explain{
  position:absolute;
  margin-top:-50px;
  text-align: center;
  width:100vw;
  height:20px;
  color:#0d0d0d;
  font-family: 'Roboto', 'Sans-serif';
  font-weight:500;
  font-size:1.2rem;
  vertical-align: baseline;
}

.area-2 > .intro-background-container > .intro-box > .intro-explain > span{
  color:#f2f0f0;
}

.area-2 > .intro-background-container > .intro-box > .intro-video-wrapper{
  display:block;
  width:100vw;
  height:100vh;

}
.area-2 > .intro-background-container > .intro-box > .intro-video-wrapper > .video-box{
  display:flex;
  width:100vw;
  height:100vh;
  overflow: hidden;
  
}

.area-2 > .intro-background-container > .intro-box > .intro-video-wrapper > .video-box > video{
  width:100vw;
  object-fit: cover;

}

.showreel{
  display:none;
  position:fixed;
  top:0;
  width:100vw;
  height:100vh;  
  z-index: 100;
  justify-content: center;
  align-items: center;
  

}

.showreel > .showreel-bg{
  width:100vw;
  height:100vh;
  background-color: #0d0d0d;
  position:absolute;
  top:0;
  left:0;
  opacity:.9;
  z-index: 1;
}

.showreel-close-box{
  
  width:50px;
  height:50px;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:45vh;
  left:92vw;
  transform:translateY(-50%);
  z-index:100;
  overflow:hidden;
  

}

.showreel-close-box > .close-first{
  width:100%;
  position:absolute;
  transform:rotate(45deg);
  border:2px solid white;
  background-color:white;
  padding:1px;
  border-radius: 20%;

}
.showreel-close-box > .close-second{
  width:100%;
  position:absolute;
  transform:rotate(135deg);
  border:2px solid white;
  background-color:white;
  padding:1px;
  border-radius: 20%;

}

.showreel > iframe{
  width:80vw;
  height:90vh;
  z-index: 1;
}

.displayFlex{
  display:flex;
}

.area-2 > .intro-background-container > .intro-box > .intro-explain-2{
  display: block;
  width:100vw;
  height:250px;
  color:#0d0d0d;
  font-family: 'Roboto', 'Sans-serif';
  font-weight:900;
  font-size:11rem;
  text-align: right;
  padding-top: 10px;
  padding-right:30px;
}

.area-2 > .intro-background-container > .intro-define-box{
  display:flex;
  position:relative;
  justify-content: space-between;
  margin-top:100px;
  width:90vw;
  height:50vh;
}

.area-2 > .intro-background-container > .intro-define-box > .define-1{
  font-family: 'Roboto', 'Sans-serif';
  font-weight: 300;
}

.area-2 > .intro-background-container > .intro-define-box > .define-2{
  width:50vw;
  
}

.area-2 > .intro-background-container > .intro-define-box > .define-2 >div:first-child{
  font-family: 'Roboto', 'Sans-serif';
  font-weight: 500;
  font-size:1.5rem;
  text-align: justify;
  text-indent: 20%;
}

.area-2 > .intro-background-container > .intro-define-box > .define-2 > div:last-child{
  margin-top:100px;
  font-size:1.3rem;
  font-family: 'Noto Sans Kr', 'Sans-serif';
  font-weight: 400;
}




@media screen and (max-width:960px){
  .area-2 > .intro-background-container > .intro-box > .intro-explain{
    font-size:1rem;
  }

  .showreel-close-box{
    width:30px;
    height:30px;
    top:22vh;
    left:40vw;
  }

  .area-2 > .intro-background-container > .intro-box > .intro-explain-2{
    font-size:4rem;
    padding-right:10px;
    line-height: 75px;
    padding-top:60px;
  }

  .area-2 > .intro-background-container > .intro-define-box{
    margin-top:100px;
  }

  .area-2 > .intro-background-container > .intro-define-box > .define-1{
      font-size:.8rem;
  }
  
  .area-2 > .intro-background-container > .intro-define-box > .define-2 >div:first-child{
    font-size: 1.2rem;
    line-height: 22px;
    margin-left:2vw;
    width:50vw;
    
  }
  
  .area-2 > .intro-background-container > .intro-define-box > .define-2 >div:last-child{
    font-size: 1rem;
    margin-top:30px;
    margin-left:2vw;
    width:50vw;
  }
  .showreel > iframe{
    width:85vw;
    height:90vh;
    z-index: 1;
  }

  .showreel-close-box{
    left:94vw;
    top:50vh;
  }

  }

@media screen and (max-width:480px){
  .area-2 > .intro-background-container > .intro-box > .intro-explain{
    font-size:1rem;
  }

  .showreel-close-box{
    width:30px;
    height:30px;
    top:22vh;
    left:40vw;
  }

  .area-2 > .intro-background-container > .intro-box > .intro-explain-2{
    font-size:4rem;
    padding-right:10px;
    line-height: 75px;
    padding-top:60px;
  }

  .area-2 > .intro-background-container > .intro-define-box{
    margin-top:100px;
  }

  .area-2 > .intro-background-container > .intro-define-box > .define-1{
      font-size:.8rem;
  }
  
  .area-2 > .intro-background-container > .intro-define-box > .define-2 >div:first-child{
    font-size: 1.2rem;
    line-height: 22px;
    margin-left:2vw;
    width:50vw;
    
  }
  
  .area-2 > .intro-background-container > .intro-define-box > .define-2 >div:last-child{
    font-size: 1rem;
    margin-top:30px;
    margin-left:2vw;
    width:50vw;
  }

  .showreel > iframe{
    width:95vw;
    height:35vh;
    z-index: 1;

  }

  .showreel-close-box{
    left:87vw;
    top:30vh;

  }
  }
/* End Card-2 */




/* Card-3 */
  .area-3{
    display:block;
    width:100vw;
    height:100vh;
    background-color:#F2F0F0;
    overflow: hidden;
  }

  .area-3 > .value-img-container{
    z-index: 100;
    
  }
  
  .area-3 > .value-img-container > .value-img-box-1{
    display:flex;
    position:absolute;

    width:500px;
    height:700px;
    margin-top:-70vh;
    margin-left:10vw;
    
    overflow:hidden;
  }

  .area-3 > .value-img-container > .value-img-box-1 > img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .area-3 > .value-img-container > .value-img-box-2{
    display:flex;
    position:absolute;

    width:500px;
    height:700px;
    margin-top:-35vh;
    margin-left:60vw;
    
    overflow:hidden;
    
  }

  .area-3 > .value-img-container > .value-img-box-2 > img{
    width:100%;
    height:100%;
    object-fit: cover;

  }


  .area-3 > .value-img-container > .value-img-box-3{
    display:flex;
    width:500px;
    height:700px;
    position:absolute;
    overflow:hidden;
    margin-top:12vh;
    margin-left:15vw;
  }

  .area-3 > .value-img-container > .value-img-box-3 > img{
    width:100%;
    height:100%;
    object-fit: cover;
  }


  




  .area-3 > .value-container{
    display:flex;
    padding:0 5vw;
    width:100vw;
    height:100vh;
    justify-content: space-between;
  }

  .area-3 > .value-container > .value-title{
    display:flex;
    position:relative;
    width:100vw;
    height:100vh;

    font-family: 'Roboto', 'Sans-serif';
    font-weight:900;
    font-size:10rem;
    color:#0d0d0d;
    text-align: left;
    align-items: center;

  }

  .area-3 > .value-container > .value-explain{
    width:100vw;
    font-family: 'Roboto', 'Sans-serif';
    font-size:1.5rem;
    padding-top:35vh;
    padding-left:5vw;
  }

  .area-3 > .value-container > .value-explain > div:first-child{
    text-align: justify;
    text-indent: 10%;
    font-weight: 500;
  }

  .area-3 > .value-container > .value-explain > div:last-child{
    margin-top:10vh;
    text-align: justify;
    font-size:1.3rem;
    font-weight: 400;
  }

  .area-3 > .value-deco-container > .value-explain-deco{
    font-family: 'Roboto', 'Sans-serif';
    font-weight:300;
    
  }

  .area-3 > .value-deco-container{
    margin-top: -105vh;
    margin-left: 80vw;
    display:flex;
    position:absolute;
  }

  @media screen and (max-width:960px){
    .area-3 > .value-img-container > .value-img-box-1{
      width:380px;
      height:450px;
      margin-left:3.5vw;
      margin-top:-80vh;
      display:flex;
    }

    .area-3 > .value-img-container > .value-img-box-2{
      
      width:400px;
      height:450px;
      margin-left:50vw;
      margin-top:-50vh;
      
      display:flex;
      
    }
    .area-3 > .value-img-container > .value-img-box-3{
      
      width:600px;
      height:450px;
      justify-self: center;
      margin-top:100vh;
      margin-left:18vw;
      display:flex;
    }

  .area-3 > .value-container{
    display:flex;
    flex-direction: column;
    height:100vh;
  }

  .area-3 > .value-container > .value-title{
    font-size:4rem;
    line-height: 75px;
    padding-top:0;
    
  }

  .area-3 > .value-container > .value-explain{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    padding-top:0;
    padding-left: 50px;
    padding-right: 100px;
    font-family: 'Roboto', 'Sans-serif';
    font-size:1.5rem;
  }  
  .area-3 > .value-container > .value-explain > div:first-child{
    font-size:1.2rem;
  }
  .area-3 > .value-container > .value-explain > div:last-child{
    font-size:1rem;
    margin-top:5vh;
  }

  .area-3 > .value-deco-container > .value-explain-deco{
    color:#f2f0f0;
  }

  }


  @media screen and (max-width:480px){
      .area-3 > .value-img-container > .value-img-box-1{
        width:150px;
        height:450px;
        margin-left:3.5vw;
        margin-top:-80vh;
        display:flex;
      }
  
      .area-3 > .value-img-container > .value-img-box-2{
        
        width:200px;
        height:200px;
        margin-left:45vw;
        margin-top:-23vh;
        
        display:flex;
        
      }
      .area-3 > .value-img-container > .value-img-box-3{
        
        width:300px;
        height:450px;
        justify-self: center;
        margin-top:110vh;
        margin-left:10vw;
        display:flex;
      }

    .area-3 > .value-container{
      display:flex;
      flex-direction: column;
      height:100vh;
    }

    .area-3 > .value-container > .value-title{
      font-size:4rem;
      line-height: 75px;
      padding-top:0;
      
    }

    .area-3 > .value-container > .value-explain{
      display:flex;
      flex-direction: column;
      height:100vh;
      width:100vw;
      padding-top:0;
      padding-left: 50px;
      padding-right: 100px;
      font-family: 'Roboto', 'Sans-serif';
      font-size:1.5rem;
    }  
    .area-3 > .value-container > .value-explain > div:first-child{
      font-size:1.2rem;
    }
    .area-3 > .value-container > .value-explain > div:last-child{
      font-size:1rem;
      margin-top:5vh;
    }

    .area-3 > .value-deco-container > .value-explain-deco{
      color:#f2f0f0;
    }

    }


  






/* End Card-3 */








/* Card-4 */
:root{
  --main-black: #0d0d0d;
  --main-white: #f2f0f0;
  --key-blue: #0439D9;
  --slider-height: 145rem; /*135*/
  --half-slider-height: calc(var(--slider-height)/2);
  --slider-height-min: 90rem; /*100*/
  --half-slider-height-min: calc(var(--slider-height-min)/2);
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.area-4{
  display:flex;
  flex-direction: column;
  width:100vw;
  height:250vh; /*250 */
  justify-content: center;
  align-items: center;
  background-color:#F2F0F0;
  overflow:hidden;
}

.area-4 > .work-bg-box{
  display:flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  width:100vw;
  height:400vh;
  margin-top:-100vh;
}

.area-4 > .work-bg-box > .works-bg{
  position:absolute;
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #0d0d0d;
  
}


.area-4 > .works-title{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  width:100vw;
  height:40vh;
  font-family: 'Roboto', 'Sans-serif';
  font-weight:900;
  font-size:13rem;
  text-align: center;
  color:#f2f0f0;
  z-index: 1;
  margin-top:20vh;
}


.area-4 > .works-container{
  display:flex;
  flex-direction: column;
  position:flex;
  width:100vw;
  height:100vh;
  margin-top:150vh;
  z-index: 1;
}


.area-4 > .works-container > .circular-slider{
  display:flex;
  position: absolute;
  width: var(--slider-height);
  height: var(--slider-height);
  color: #fff;
  text-align: center;
  padding-top:150vh;
  margin-top:-100vh;
  overflow:hidden;
}

.area-4 > .works-container > .circular-slider > .wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transform: rotateZ(-235.5deg);
  transition: 1s ease-in-out;
  
  z-index: 30;

}


.area-4 > .works-container > .circular-slider > .wrapper > .slides{
  position:absolute;
  left: 0;
  transform: rotateZ(calc(360deg / 24 * var(--img-no))) translateY(var(--half-slider-height));
  transform-origin: var(--half-slider-height);
  width:16vw;
  cursor: pointer;
  
}


.area-4 > .works-container > .circular-slider > .wrapper > .slides img{
  width: 100%;
  transform: rotateZ(calc(360deg / 24 * 14.75)) scale(var(--scale, .8));
  transform-origin: center;

  user-select:none;

  object-fit: cover;
  transition: .4s ease;
  
  border-radius: 5%;
  opacity:.9; 

}


.area-4 > .works-container > .circular-slider > .wrapper > .slides img:hover{
  transform-origin: 48%;
  width: 110%;
  
}

.area-4 > .works-container > .circular-slider > .wrapper > .slides img.active{
  --scale: 1.1;
  display:flex;
}



.area-4 > .works-container > .circular-slider > .descriptions{
  position: absolute;
  bottom: 123vh;
  height:var(--half-slider-height);
  font-size:3rem;

  z-index: 100;
  
  font-family:'roboto', 'sans-serif';
}


.area-4 > .works-container > .circular-slider > .descriptions .descriptions-box{
  width: 100%;
  height: 30vh;
  margin:60vh auto;

  display: flex;
  position:absolute;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  top:-4vh;
}

.area-4 > .works-container > .circular-slider > .descriptions > .descriptions-box .description-head h1{
  font-size: 3rem;
  font-weight: 600;
}

.area-4 > .works-container > .circular-slider > .descriptions > .descriptions-box .description-body p{
  width: 300px;
  font-size: 1.2rem;
  font-weight: 400;
}

.area-4 > .works-container > .circular-slider > .descriptions .descriptions-box div{
  overflow: hidden;
  top:100vh;
  width:400px;
  height:300px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.area-4 > .works-container > .circular-slider > .descriptions .descriptions-box div *{
  opacity:0;
  margin-top:10vh;
}

.area-4 > .works-container > .circular-slider > .descriptions .descriptions-box.active div *{
  opacity:1;
  margin-top:0vh;
  transition: .5s
}










@media screen and (max-width:960px){
  .area-4 >  .works-title{
    font-size: 4rem;
    align-items: center;
    margin-top:-90vh;
  }

  .area-4 > .works-container{
    margin-top:0;
  }


  .area-4 > .works-container > .circular-slider{ 
  position: relative;
  width: var(--slider-height-min);
  height: var(--slider-height-min);
  color: #fff;
  text-align: center;
  margin-top:80vh;
  overflow: hidden;
}


  .area-4 > .works-container > .circular-slider > .wrapper{
  display:flex;
  position:absolute;
  margin-top:120vh;

}

  .area-4 > .works-container > .circular-slider > .wrapper .slides{
  display:flex;
  flex-direction: column;
  position:absolute;
  left: 0;
  transform: rotateZ(calc(360deg / 24 * var(--img-no))) translateY(var(--half-slider-height-min));
  transform-origin: var(--half-slider-height-min);
  width:23vw;
  cursor: pointer;

}

.area-4 > .works-container > .circular-slider > .wrapper > .slides img{
  transform: rotateZ(calc(360deg / 24 * 14.7)) scale(var(--scale, .8));
}

  .area-4 > .works-container > .circular-slider > .descriptions{
  position: absolute;
  top:10vh;
  height:var(--half-slider-height);
  z-index: 100;
}


}






@media screen and (max-width:480px){
  .area-4 >  .works-title{
    font-size: 4rem;
    align-items: center;
    margin-top:-90vh;
  }

  .area-4 > .works-container{
    margin-top:0;
  }


  .area-4 > .works-container > .circular-slider{ 
  position: relative;
  width: var(--slider-height-min);
  height: var(--slider-height-min);
  color: #fff;
  text-align: center;
  margin-top:80vh;
  overflow: hidden;
}


  .area-4 > .works-container > .circular-slider > .wrapper{
  display:flex;
  position:absolute;
  margin-top:60vh;

}

  .area-4 > .works-container > .circular-slider > .wrapper .slides{
  display:flex;
  flex-direction: column;
  position:absolute;
  left: 0;
  transform: rotateZ(calc(360deg / 24.1 * var(--img-no))) translateY(var(--half-slider-height-min));
  transform-origin: var(--half-slider-height-min);
  width:50vw;
  cursor: pointer;

}

.area-4 > .works-container > .circular-slider > .wrapper > .slides img{
  transform: rotateZ(calc(360deg / 24 * 14.7)) scale(var(--scale, .8));
}

  .area-4 > .works-container > .circular-slider > .descriptions{
  position: absolute;
  top:10vh;
  height:var(--half-slider-height);
  z-index: 100;
}


}




/* area-5 */

.area-5{
  width:100vw;
  height:110vh;
  background-color: #f2f0f0;
  margin-top:-70vh;
  z-index: 1;
}

.area-5 > .outro-container{
  display:flex;
  width:100vw;
  height:100vh;
}

.area-5 > .outro-container > .outro-title{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', 'Sans-serif';
  font-weight:900;
  font-size:13rem;
  color: #0d0d0d;
  z-index: 3;
  margin-left:3vw;
}

@media screen and (max-width:1600px){
  .area-5 > .outro-container{
    flex-direction: column;
  }
  .area-5 > .outro-container > .outro-title{
    margin-top:10vh;
    font-size:5rem;
    text-align: center;
  } 
}

.area-5 > .outro-container > .outro-body {
  display:flex;
  width:100vw;
  height:100vh;
  font-size:3rem;
  align-items: center;
  justify-content: center;
}

.area-5 > .outro-container > .outro-body > a{
  font-family: 'roboto', 'sans-serif';
  font-weight:500;
  z-index: 5;
}

.area-5 > .outro-container > .outro-body > a:hover{
  text-decoration: underline;
}

@media screen and (max-width:1600px){
  .area-5 > .outro-container > .outro-body > a{
    font-size:1.5rem;
  }
}
  /* End Main */



  /* Footer */

.footer{
    display:flex;
    height:10vh;
    position:relative;
    width:100vw;
    background-color: #f2f0f0;
    z-index: 100;
  }
  
.footer > .footer-infBox{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
    font-size:.6rem;
    margin-bottom:3vh;
    margin-left:calc(2vw + 10px);
    color:#0d0d0d;
  }
  
  .footer > .footer-infBox > .web-inf{
    display:flex;
  }

 
  /* End Footer */

  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

/* Custom end */