@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*		
    font-family: 'DM Serif Display', serif;
		font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* Nomalize */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    color:inherit;
    text-decoration: none;
}

/* End Nomalize */






/* Lib */
.color-blue{
  color:#0439D9;
}

/* End Lib */







/* Custom */
 





html{
  background-color:#0d0d0d;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type:y mandatory;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
    
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
    .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: #0D0D0D;
    color: rgb(255,255,255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'Roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:white;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color: #0439D9;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





  /* Header */
    .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
  
  .header-logobox{
    z-index: 300;
  }

  .header-logobox > a{
    font-family:'Roboto','sans-serif';
    font-weight: 700;
    color:white;
    vertical-align: middle;
    font-size:1.2rem;
    padding:3px;
    z-index: 300;
  }
 
  .header-menubox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;
    position: relative;
    z-index: 201;
  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > div:nth-child(1){
    display:none;
  }

  .header-menubox:hover > div:nth-child(3){
    display:none;
  }

  .header-menubox:hover > div:nth-child(2){
    width:25px;
    height:25px;
  border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:#0d0d0d;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  font-family:'Roboto','sans-serif';
  font-weight:700;
  justify-content: center;
  align-items: center;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper > li:hover {
  text-decoration: underline wavy;
  text-decoration-color: #0439D9;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}

.displayFlex{
  display:flex;
  flex-direction: column;
}

.menuSelectorWrapper li{
  margin-top:20px;
}

.experienceMenu{
  margin-top:2vh;
}


  
  /* End Header */

  






  /* Main */




    /* card-1 */
.card-1 {
    height:100vh;
    width:100vw;
  }

.card-1 > .video-box{
  overflow: hidden;
  height:100vh;
}

.card-1 > .video-box video{
    display:flex;
    opacity:10%;
    object-fit: cover;
    width:100vw;
    height:100vh;
    z-index:-1;
}

.card-1 > .slogan-box{
  display:flex;
  flex-direction: column;
  position:absolute;
  width:100vw;
  height:100vh;
  font-family:'Roboto', 'sans-serif';
  font-weight:700;
  font-size:12rem;
  top:0;
  left:0;
  color:white;
  
}

.card-1 > .slogan-box > .lets-container{
  position:absolute;
  left:10vw;
  top:24vh;
  height:220px;
  overflow: hidden;
  
}

.card-1 > .slogan-box > .lets-container > .lets{
  margin-left: 0%;
}

.card-1 > .slogan-box > .make-container{
  position:absolute;
  left:10vw;
  top:44vh;
  padding:0;
  text-decoration: underline wavy;
  text-decoration-color: #0439D9;
  text-underline-position: under;
}


.subtitle-box{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:1000px;
  opacity:.9;
  position:absolute;
  font-family:'Roboto', 'sans-serif';
  text-align: left;
  margin-top:-10vh;
  margin-left:50vw;
  transform:translateX(-50%);
  font-size:1rem;
  font-weight:300;
  color:white;
  text-align: right;
}


.subtitle-box > .arrow{
  display:flex;
  margin-top:10px;
  width:10px;
  height:10px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  animation: scroll 1s infinite;
}

@keyframes scroll{
  0%{
    opacity:0;
  }

  50%{

  }

  100%{
    opacity:1;
  }
}

@media screen and (max-width:1000px){
.card-1 > .slogan-box{
    font-size:5.8rem;
}

.card-1 > .slogan-box > .lets-container{
  margin-top:10px;
  
}

.card-1 > .slogan-box > .make-container{
  margin-top:-65px;
}
}
/* End card-1 */




/* card-2  */
.card-2{
  display:flex;
  height:100vh;
  width:100vw;
  overflow:hidden;
  
  flex-direction:row-reverse;
  
}

.card-2 > .value-background-box{
  display:block;
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:white;

}


.card-2 > .value-background-box > .value-background{
  position:sticky;
  left:50vw;
  top:50vh;
  height:30px;
  width:30px;
  transform:translateX(-50%) translateY(-50%);
  border-radius:100%;
  background-color:#0D0D0D;
  z-index:100;
}



.section-group-first {
  min-height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  box-sizing:border-box;
  background-color:transparent;
}

.card-2 > .value-container{
  position:absolute;
  height:100vh;
  width:100vw;
  padding-top:10vh;
  z-index:101;
}

.card-2 > .value-container > .image-box{
  display:flex;
  position:absolute;
  width:300px;
  height:300px;
  z-index: 0;
  top:15vh;
  left:69vw;
  object-fit: cover;
  overflow: hidden;  
  }
  
.card-2 > .value-container > .image-box > img{
    display:none;
    
  }
.card-2 > .value-container > .value-describe-box{
  position:absolute;
  height:100vh;
  width:100vw;
}
.card-2 > .value-container > .value-describe-box > .value-describe-first-en{
  color:white;
  font-family: 'Roboto','Sans-serif';
  font-weight:400;
  font-size:1rem;
  margin-top:9vh;
  width:60vw;
  margin-left:10vw;
}
.card-2 > .value-container > .value-describe-box > .value-describe-first-ko{

  color:white;
  font-family: 'Noto Sans KR','Sans-serif';
  font-weight:400;
  font-size:1rem;
  width:60vw;
  margin-left:10vw;
}



.card-2 > .value-container > .value-describe-box > .value-describe-deco{
  display:flex;
  color:#0511F2;
  font-family: 'Noto Sans KR','Sans-serif';
  font-weight:400;
  font-size:1rem;
  margin-left:54vw;
  width:60vw;
  margin-top:25vh;
  font-weight:bold;
  
}
.card-2 > .value-container > .value-describe-box > .value-describe-deco > span{
  color:white;
}

.card-2 > .value-container > .value-describe-box > .value-describe-second{
  display:flex;
  color:white;
  justify-content: end;
  font-family: 'Roboto','Sans-serif';
  font-weight:900;
  font-size:8rem;
  margin-right:5vw;
  letter-spacing: -3px;
  text-align: end;
}

.card-2 > .value-container > .value-describe-box > .value-describe-second > div:first-child{
  position:absolute;
  font-weight:500;
  font-size:10rem;
  animation: rotate 2s infinite ease-in-out;
  margin-right:80vw;
  margin-top:-40vh;
  color:#0511F2;
  z-index:-1;
  }

.card-2 > .value-container > .value-describe-box > .value-describe-second > div:nth-child(2){
font-size:12rem;
margin-top:10vh;
margin-right:10vw;
}

@media screen and (max-width:1000px){
  .card-2 > .value-container > .value-describe-box > .value-describe-first-en{
  margin-top:5vh;
  }

  .card-2 > .value-container > .value-describe-box > .value-describe-second > div:nth-child(2){
    width:500px;
    font-size:9rem;
    text-align: left;
    margin-top:10vh;
    margin-right:-10vw;
    }

    .card-2 > .value-container > .value-describe-box > .value-describe-deco{
      display:flex;
      color:#0511F2;
      font-family: 'Noto Sans KR','Sans-serif';
      font-weight:400;
      font-size:1rem;
      margin-left:40vw;
      width:60vw;
      margin-top:25vh;
      font-weight:bold;
      
    }
}




@keyframes rotate{
  0%{
    transform:rotate(0deg);
  }

  50%{

  }

  100%{
    transform:rotate(360deg);
  }
}


/* End Card-2 */


/*
.card-3{
  display: ;
  height:300vh;
  width:100vw;
  flex-direction: column;
  margin-top:-100vh;
  background-color: transparent;
  border:3px solid green;
}


.value-second{
  display:flex;
  position:relative;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  color:white;
  z-index:101;
  box-sizing: border-box;  
  background-color: #0d0d0d;
}

.value-second > .value-second-box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.value-second > .value-second-box > .value-second-title{
  display: flex;
  color:white;
  font-size:10rem;
  font-family:'Roboto', 'Sans-serif';
  font-weight:700;
  z-index: 1;
}

.value-second > .value-second-box > .value-second-explain{
  position:absolute;
  width:1000px;
  margin-top:30vh;
  color:white;
  font-size:1rem;
  font-family:'Roboto', 'Sans-serif';
}

.value-second > .value-second-box > .value-second-explain-korean{
  position:absolute;
  color:white;
  font-size:1rem;
  margin-top:-30vh;
  font-family:'Roboto', 'Sans-serif';
  width:50vw;
}



.value-third{
  display:flex;
  position:relative;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  color:white;
  z-index:101;
  box-sizing: border-box;  
  background-color: transparent;
}

.value-third > .value-third-box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background-color: #0D0D0D;;
}

.value-third > .value-third-box > .value-third-title{
  display: flex;
  color:white;
  font-size:10rem;
  font-family:'Roboto', 'Sans-serif';
  font-weight:700;
  z-index: 1;
}

.value-third > .value-third-box > .value-third-explain{
  position:absolute;
  width:1000px;
  margin-top:30vh;
  color:white;
  font-size:1rem;
  font-family:'Roboto', 'Sans-serif';
}
.value-third > .value-third-box > .value-third-explain-korean{
  position:absolute;
  color:white;
  font-size:1rem;
  margin-top:-30vh;
  font-family:'Roboto', 'Sans-serif';
  width:50vw;
}



*/


  /* End Main */







  /* Footer */
.footer{
    position:relative;
    bottom:0;
  }
  
  .footer-infBox{
    margin-bottom:3vh;
    margin-left:calc(2vw + 10px);
  }
  
  .footer > .footer-infBox > .co-inf{
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
    font-size:.6rem;
    color:white;  
  }

  .footer > .footer-infBox > .blog{
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
    font-size:.6rem;
    color:white;
  }
  /* End Footer */




/* Custom end */


/* card-4 
.card-4{
  margin-top:-30%;
  width:100vw;
  height:100vh;
  background-color:white;
}

*/