@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*		
    font-family: 'DM Serif Display', serif;
		font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* Nomalize */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    color:inherit;
    text-decoration: none;
}

/* End Nomalize */






/* Lib */

/* End Lib */







/* Custom */
 





html{
  background-color:black;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
    .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'Roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:white;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color: #0540F2;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





  /* Header */
    .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
  
  .header-logobox{
    z-index: 300;
  }

  .header-logobox > a{
    font-family:'Roboto','sans-serif';
    font-weight: 700;
    color:white;
    vertical-align: middle;
    font-size:1.2rem;
    padding:3px;
    z-index: 300;
  }
 
  .header-menubox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;
    position: relative;
    z-index: 201;
  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > div:nth-child(1){
    display:none;
  }

  .header-menubox:hover > div:nth-child(3){
    display:none;
  }

  .header-menubox:hover > div:nth-child(2){
    width:25px;
    height:25px;
  border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:black;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  font-family:'Roboto','sans-serif';
  font-weight:700;
  justify-content: center;
  align-items: center;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper > li:hover {
  text-decoration: underline wavy;
  text-decoration-color: #0540F2;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}

.displayFlex{
  display:flex;
  flex-direction: column;
}

.menuSelectorWrapper li{
  margin-top:20px;
}

.experienceMenu{
  margin-top:2vh;
}


  
  /* End Header */

  






  /* Main */






    /* card-1 */
.card-1 {
    height:100vh;
    width:100vw;
  }

.card-1 > .video-box{
  overflow: hidden;
  height:100vh;
}

.card-1 > .video-box video{
    display:flex;
    opacity:20%;
    position:absolute;
    object-fit: cover;
    width:100vw;
    height:100vh;
    z-index:-1;
}


.card-1 > .slogan-box{
  display:flex;
  flex-direction: column;
  position:absolute;
  font-family:'Roboto', 'sans-serif';
  font-weight:700;
  font-size:12rem;
  left:10vw;
  top:24vh;
  color:white;
  
}

.card-1 > .slogan-box > .lets-container{
  height:220px;
  overflow: hidden;
  
}

.card-1 > .slogan-box > .lets-container > .lets{
  margin-left: 0%;
}

.card-1 > .slogan-box > .make-container{
  margin-top:-25vh;
  padding:0;
}

.card-1 > .slogan-box > .make-container > .make:hover{
  text-decoration: underline wavy;
  text-decoration-color: #0540F2;;
  text-underline-position: under;
}


.subtitle-box{
  width:400px;
  height:150px;
  position:absolute;
  font-family:'Roboto', 'sans-serif';
  text-align: left;
  margin-top:-82vh;
  margin-left:1vw;
  font-size:1.5rem;
  font-weight:300;
  color:white;
  text-align: right;
  
}

.subtitle-box-second{
  width:400px;
  height:150px;
  position:absolute;
  font-family:'Roboto', 'sans-serif';
  text-align: left;
  margin-top:-92vh;
  margin-left:1vw;
  font-size:1.5rem;
  font-weight:300;
  color:white;
  text-align: right;
}
@media screen and (max-width:1000px){
.card-1 > .slogan-box{
    top:30%;
    font-size:5.8rem;
    left:20px;
}

.card-1 > .slogan-box > .lets-container{
  margin-bottom:-120px;
  
}

.card-1 > .slogan-box > .make-container{
  margin-top:-95px;
  padding:0;
}
}
/* End card-1 */





/* card-2 */
.card-2{
  height:100vh;
  width:100vw;
  border:1px solid red;
}

.card-2 > div{
  color:white;
  font-family: 'DM Serif Display','Serif';
  font-weight:100;
  font-size:10rem;

}
/* End card-2 */






  /* End Main */






  /* Footer */
.footer{
    position:absolute;
    bottom:0;
  }
  
  .footer-infBox{
    margin-bottom:3vh;
    margin-left:calc(2vw + 10px);
  }
  
  .footer > .footer-infBox > .co-inf{
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
    font-size:.6rem;
    color:white;  
  }

  .footer > .footer-infBox > .blog{
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
    font-size:.6rem;
    color:white;
  }
  /* End Footer */





/* Custom end */


/* Marquee 
.marquee{
    position:fixed;
    display:flex;
    margin:0 12vw;
}

.text-wrapper{
    display:flex;
    width:72vw;
    overflow: hidden;
}

.text-wrapper > h2{
    color:white;
    font-family:'Roboto';
    font-size: 2.5rem;
    letter-spacing: 1px;
    white-space: nowrap;
    animation: move-rt1 40000ms linear infinite;

}

@keyframes move-rt1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}



@media screen and (max-width:1000px){
    .marquee{
        margin:12vh 0;
        padding-left:1vw;
    }
    
    .text-wrapper{
        width:95vw;
        padding-top:5px;
    }
    
    .text-wrapper > h2{
        margin-top: 0;
        font-size: 6rem;
    }
    }     
  End Marquee */


  /*
.swiper {
  display:none;
  width: 50vw;
  height:100vh;
}

.swiper-slide {
  display:none;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.swiper-slide img {
  display:none;
  display: block;
  width: 50%;
  margin-top:50%;
  margin-left:50%;
  transform:translateX(-50%) translateY(-50%);
  border-radius: 10px;

  /*
   -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
   
}
.swiper-slide:nth-child(2) > img {
  display: block;
  object-fit: cover;
}
.swiper-button-prev{
 opacity: 0;
}

.swiper-button-next{
  opacity: 0;
}

.swiper-pagination{
  margin-bottom:5vh;
}

@media screen and (max-width:1000px){
  .swiper {
    margin-top:22vh;
    height:70vh;
    width: 99vw;
    z-index:103;
  }

  .swiper-pagination{
    margin-bottom: 10vh;
  }
}
*/

  /* Loader
.loader {
  
  position:fixed;
  top:-10vh;
  left:-10vw;
  width:120vw;
  height:120vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  color:white;
  z-index:-1;
}
*/