@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');

@font-face{
    src : url("/source/font/FontsFree-Net-Avalon.ttf");
    font-family:'Avalon';
}

@font-face{
  src : url("/source/font/LibreBarcode128-Regular.ttf");
  font-family:'Libre';
}

/* Nomalize */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    color:inherit;
    text-decoration: none;
}

h1{
  font-size:4em;
}

h2{
  font-size:2em;
}

h3{
  font-size:1em;
}

/* End Nomalize */






/* Lib */

/* End Lib */







/* Custom */
 





html{
  background-color:white;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
      .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:white;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color: #0540F2;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





  /* Header */
    .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
  
  .header-logobox{
    z-index: 300;
  }

  .header-logobox > a{
    font-family:'Roboto','sans-serif';
    font-weight: 700;
    color:white;
    vertical-align: middle;
    font-size:1.2rem;
    padding:3px;
    z-index: 300;
  }
 
  .header-menubox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;
    position: relative;
    z-index: 201;
  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > div:nth-child(1){
    display:none;
  }

  .header-menubox:hover > div:nth-child(3){
    display:none;
  }

  .header-menubox:hover > div:nth-child(2){
    width:25px;
    height:25px;
  border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:black;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  font-family:'roboto','sans-serif';
  font-weight:700;
  justify-content: center;
  align-items: center;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper > li:hover {
  text-decoration: underline wavy;
  text-decoration-color: #0540F2;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}

  .displayFlex{
  display:flex;
  flex-direction: column;
}

.menuSelectorWrapper li{
  margin-top:20px;
}

.experienceMenu{
  margin-top:2vh;
}


  
  /* End Header */







/* Main start */
.mainBox{
  width:100%;
  overflow: hidden;
}

.mainBox-section{
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.mainBox-section-title{
  height:20vh;
  padding-top:5vh;
}

.mainBox-section-title h5{
  font-family:'Avalon';
  font-size: 1.4rem;
  font-style:italic;
  text-align:center;
}

.card-1 > video{
  display:flex;
  object-fit: cover;
  width:100vw;
  height:100vh;
  pointer-events: none;
  z-index:1;
  color:white;
  font-size:100rem;
  box-sizing:border-box;
}

.card-2{
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;  
}

.card-2 > div{
  margin:0 30px;
}

.card-2 img{
  height:120px;
}

.card-2 h6{
  font-size: 1rem;
  font-family:'NotosansKr', Sans-serif;
  font-weight:500;
}



.card-3, .card-4{
  display:flex;
  align-items: center;
  justify-content: center;
}

.card-3 > div,
.card-4 > div{
  margin:auto auto;
  text-align:center;
}

.card-3 > div > video,
.card-4 > div > video{
  width:80%;
}


.card-5{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150vh;
}

.card-5 > .font-content{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:30px;
}

.card-5 > .font-content > h5{
  font-family:'Avalon';
  font-size: 1rem;
  margin-bottom: 25px;
}

.card-5 > .font-content > img{
  width:80%;
}

.card-6 > .card-6-videoBox{
  display:flex;
  justify-content: center;
  align-items: center;
}
.card-6 > .card-6-videoBox > video{
width:100vw;
height:80vh;
transform:scale(1.5);
transform:translateY(-10vh);
z-index: -1;
}

.card-7 > .card-7-videoBox{
  display:flex;
  justify-content: center;
  width:100vw;
  height:100vh;
}
.card-7 > .card-7-videoBox > video{
  object-fit: cover;
  width:80vw;
}

.card-8{
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-8 > .card-8-audioBox{
  border-radius: 3%;
  display:flex;
  align-items: flex-end;
  margin:auto auto;
  margin-top:15vh;
  width:50vh;
  height:50vh;
  background-image: url(/source/img/experience/ultimatepotential/audioPicture2.avif);
  background-position:center;
  background-size:200%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.card-8 > .card-8-audioBox > audio{
  width:100%;
  margin-bottom:1vh;
}

.card-9{
  display:block;
  height:170vw;
}

.card-9 > .card-9-imgBox-wrapper{
  display:block;
  width:100vw;
  height:80vh;
  text-align: center;
}

.card-9 > .card-9-imgBox-wrapper  .card-9-imgBox > img{
  width:50vw;
  height:50vw;
}




@media screen and (max-width:1000px){
  .card-2{
  display:block;
  text-align: center;
  color: black;
    
  }
  .card-2 > div:first-child{
    margin-top:50%;
  }

  .card-2 > div:last-child{
    margin-top:100px;
  }

  .card-2 img{
    height:100px;
  }

  .card-2 h6{
    text-align:justify;
  }

  .card-6 > video{
    display:flex;
    object-fit: cover;
    width:100vw;
    height:80vh;
    z-index:1;
    box-sizing:border-box;
  }

  .card-7 > .mainBox-section-title > h5{
    margin:auto auto;
  }

  .card-7 > .card-7-videoBox{
    align-items: center;
  }

  .card-7 > .card-7-videoBox > video{
    object-fit: cover;
    margin-top:-25vh;
    width:80vw;
    height:50vh;
  }

  .card-8 > .card-8-audioBox{
    width:70vw;
    height:70vw;
  }

  .card-9{
    height:200vw;
  }

  }

/* Main end */






/* Footer start*/
.footer{
  bottom:0;
}

.footer-infBox{
  margin-bottom:3vh;
  margin-left:calc(2vw + 10px);
}

.footer > .footer-infBox > .co-inf{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight: 300;
  font-size:.6rem;
  color:black;  
}

/* Footer end*/

/* Custom end */
