@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');

@font-face{
  src : url("/source/font/FontsFree-Net-Avalon.ttf");
  font-family:'Avalon';
}



/* Nomalize start */
* {
    box-sizing: border-box;
}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{ 
    color:inherit;
    text-decoration: none;
}



/* Nomalize end */






html{
  background-color:black;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:601;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
      .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:white;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color:#0540F2;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





    /* Header */
    .header{
      position:fixed;
      display:flex;
      align-items: center;
      justify-content:space-between;
      width:100vw;
      height:100px;
      z-index: 101;
      padding:0 30px;
      }
    
    .header-logobox{
      z-index: 300;
    }
  
    .header-logobox > a{
      font-family:'Roboto','sans-serif';
      font-weight: 700;
      color:white;
      vertical-align: middle;
      font-size:1.2rem;
      padding:3px;
      z-index: 300;
    }
   
    .header-menubox{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center;
      height:30px;
      width:30px;
      position: relative;
      z-index: 201;
    }
  
  
  
    .menu-first{
      height:5px;
      width:5px;
      background-color:white;
      border-radius: 100%;
      z-index: 200;
      transition: all 1s;
    }
  
    .menu-second{
      height:5px;
      width:5px;
      background-color:white;
      border-radius: 100%;
      z-index: 199;
      transition: all .3s;
    }
  
    .menu-third{
      height:5px;
      width:5px;
      background-color:white;
      border-radius: 100%;
      z-index: 200;
      transition: all 1s;
    }
  
    .header-menubox:hover > div:nth-child(1){
      display:none;
    }
  
    .header-menubox:hover > div:nth-child(3){
      display:none;
    }
  
    .header-menubox:hover > div:nth-child(2){
      width:25px;
      height:25px;
    border-radius: 100%;
    }
  
    .scale{
      scale:1000;
      background-color:#0d0d0d;
      transition:
      scale 1s ease-in-out,
      background-color 1.5s;
      
    }
  
  .menuSelector{
    color:white;
    position:absolute;
    display:flex;
    position:fixed;
    opacity:0;
    top:-100%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    z-index: 200;
  }
  
  .opacity{
    top:45%;
    opacity:100;
    transition: 
    top .1s, 
    opacity 2s ease-in-out;
  }
  
  .menuSelectorWrapper{
    display:none;
    font-family:'Roboto','sans-serif';
    font-weight:700;
    justify-content: center;
    align-items: center;
    font-size:3.5rem;
    z-index: 100;
  }
  
  .menuSelectorWrapper div:hover {
    text-decoration: underline;
    font-size:4rem;
    transition:
    all 0s,
    font-size .5s;
  }
  
  .displayFlex{
    display:flex;
    flex-direction: column;
  }
    
    /* End Header */






/* 메인 정리 시작 */
  .main{
    display:block;
    align-items: center;
    background-color:black;
}

  .main > .titleBox{
    display:flex;
    justify-content: center;
}
  .main > .titleBox > .title{
    margin-top:15vh;
    position:relative;
    color:white;
    font-family:'Roboto', sans-serif;
    font-size:4rem;
    font-weight:700;
  }
.main > .subtitleBox{
  display:flex;
  color:white;
  justify-content: center;
}
.main > .subtitleBox > .subtitle:hover{
  text-decoration: underline wavy;
  text-decoration-color: #0540F2;;
  text-underline-position: under;
}
  .main > .subtitleBox > .icon{
    font-size:0.9rem;
  }





  /* 모달 윈도우 시작 */
  input[id="popup"]{
    display:none;
  }

  input[id="popup"] + label + div{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:501;
  }

  input[id*="popup"] + label + div{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
    transition:all .5s;
  }

  input[id*="popup"]:checked + label + div{
    opacity:1;
    visibility:visible;
    
  }

  input[id="popup"] + label + div > div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:72vw;
    height:40.5vw;
    z-index:1;
  }

  input[id="popup"] + label + div > div > iframe{
    width:100%;
    height:100%;
  }

  input[id="popup"] + label + div > div > label{
    position:absolute;
    color:white;
    font-size:3rem;
    top:50%;
    right:-5%;
    transform:translate(40%, -40%);
    padding:20px;
    border-radius:100%;
    z-index:501;
  }

  input[id="popup"] + label + div > label {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:0;
  }

  /* 모달 윈도우 끝 */

   /* 모달 윈도우 시작 2*/
   input[id="popup2"]{
    display:none;
  }

  input[id="popup2"] + label + div{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:501;
  }

  input[id*="popup2"] + label + div{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
    transition:all .5s;
  }

  input[id*="popup2"]:checked + label + div{
    opacity:1;
    visibility:visible;
    
  }

  input[id="popup2"] + label + div > div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:72vw;
    height:40.5vw;
    z-index:1;
  }

  input[id="popup2"] + label + div > div > iframe{
    width:100%;
    height:100%;
  }

  input[id="popup2"] + label + div > div > label{
    position:absolute;
    color:white;
    font-size:3rem;
    top:50%;
    right:-5%;
    transform:translate(40%, -40%);
    padding:20px;
    border-radius:100%;
    z-index:501;

  }

  input[id="popup2"] + label + div > label {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:1;
  }

  /* 모달 윈도우 끝 2 */



  /* 모달 윈도우 시작 3 */
  input[id="popup3"]{
    display:none;
  }

  input[id="popup3"] + label + div{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:501;
  }

  input[id*="popup3"] + label + div{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
    transition:all .5s;
  }

  input[id*="popup3"]:checked + label + div{
    opacity:1;
    visibility:visible;
    
  }

  input[id="popup3"] + label + div > div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:72vw;
    height:40.5vw;
    z-index:1;
  }

  input[id="popup3"] + label + div > div > iframe{
    width:100%;
    height:100%;
  }

  input[id="popup3"] + label + div > div > label{
    position:absolute;
    color:white;
    font-size:3rem;
    top:50%;
    right:-5%;
    transform:translate(40%, -40%);
    padding:20px;
    border-radius:100%;
    z-index:501;

  }

  input[id="popup3"] + label + div > label {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:1;}
    
  /* 모달 윈도우 끝 3 */
/* 모달 윈도우 시작 4 */
input[id="popup4"]{
  display:none;
}

input[id="popup4"] + label + div{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:501;
}

input[id*="popup4"] + label + div{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  visibility:hidden;
  transition:all .5s;
}

input[id*="popup4"]:checked + label + div{
  opacity:1;
  visibility:visible;
  
}

input[id="popup4"] + label + div > div{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:72vw;
  height:40.5vw;
  z-index:1;
}

input[id="popup4"] + label + div > div > iframe{
  width:100%;
  height:100%;
}

input[id="popup4"] + label + div > div > label{
  position:absolute;
  color:white;
  font-size:3rem;
  top:50%;
  right:-5%;
  transform:translate(40%, -40%);
  padding:20px;
  border-radius:100%;
  z-index:501;

}

input[id="popup4"] + label + div > label {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.9);
  z-index:1;
}
  /* 모달 윈도우 끝 4 */
  /* 모달 윈도우 시작 5 */
  input[id="popup5"]{
    display:none;
  }

  input[id="popup5"] + label + div{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:501;
  }

  input[id*="popup5"] + label + div{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
    transition:all .5s;
  }

  input[id*="popup5"]:checked + label + div{
    opacity:1;
    visibility:visible;
    
  }

  input[id="popup5"] + label + div > div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:72vw;
    height:40.5vw;
    z-index:1;
  }

  input[id="popup5"] + label + div > div > iframe{
    width:100%;
    height:100%;
  }

  input[id="popup5"] + label + div > div > label{
    position:absolute;
    color:white;
    font-size:3rem;
    top:50%;
    right:-5%;
    transform:translate(40%, -40%);
    padding:20px;
    border-radius:100%;
    z-index:501;

  }

  input[id="popup5"] + label + div > label {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:1;}
  /* 모달 윈도우 끝 5 */

  /* modal 6 */
  input[id="popup6"]{
    display:none;
  }

  input[id="popup6"] + label + div{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:501;
  }

  input[id*="popup6"] + label + div{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
    transition:all .5s;
  }

  input[id*="popup6"]:checked + label + div{
    opacity:1;
    visibility:visible;
    
  }

  input[id="popup6"] + label + div > div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:72vw;
    height:40.5vw;
    z-index:1;
  }

  input[id="popup6"] + label + div > div > iframe{
    width:100%;
    height:100%;
  }

  input[id="popup6"] + label + div > div > label{
    position:absolute;
    color:white;
    font-size:3rem;
    top:50%;
    right:-5%;
    transform:translate(40%, -40%);
    padding:20px;
    border-radius:100%;
    z-index:501;

  }

  input[id="popup6"] + label + div > label {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:1;
  }

  /* modal6 End */

  .workBox > div{
    scroll-snap-align: start;
    position:relative;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:99vw;
    box-sizing: border-box;
  }

  .workBox div:nth-of-type(6){
    margin-bottom:15vh;

  }
  .workBox div > .work{
    position:relative;
    margin-top:1vw;
    color:white;
    width:61vw;
    height:75vh;
    top:50%;
    text-align: center;
  }
  
  .workBox div > .work > img{
    opacity:30%;
    border-radius: 20px;
    width:60vw;
    height:75vh; 
    object-fit: cover;
    transition: all 0.5s;
    z-index:10;
  }

  .workBox div > .work:hover > img{
    opacity:100%;
    transform: scale(0.8);
  }

  .workBox div > .work > .img_name{
    display:flex;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    opacity:1;
    font-size:1.5rem;
    position:absolute;
    width:90%;
    height:90%;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }
  .workBox div > .work > .img_name h5{
    font-weight:700;
    margin-bottom:5px;
  }
  .workBox div > .work > .img_name h6{
    font-family:'Roboto',sans-serif;
    font-weight:300;
    margin:1px;
  }
  .workBox div > .work:hover > .img_name{
    opacity:0;
    transition: all 1s;
  }


  @media screen and (max-width:1000px){
    .workBox > div{
      width:100vw;
    }

      .workBox div > .work{
        position:relative;
        width:95vw;
        height:95vw;
        top:50%;
      }
      
      .workBox div > .work > img{
        border-radius: 20px;
        width:95vw;
        height:95vw;
        object-fit: cover;
        transition: all 0.5s;
        z-index:10;
      }
    
      .workBox div > .work > .img_name{
        opacity:100;
        font-size:1rem;
        position:absolute;
        height:90%;
        width:90%;
        top:50%;
        transform: translateX(-50%), translateY(-50%);
        
      }

      .workBox div > .work > .img_name h5{
        font-weight:700;
        margin-bottom:5px;
      }
      .workBox div > .work > .img_name h6{
        font-family:'Roboto',sans-serif;
        font-weight:300;
        margin:1px;
      }
      }
      



/* 모달 윈도우 1 시작 */
      input[id="popup"] + label + div > div{
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:80vw;
        height:80vh;
        /*background-color: white;*/
        z-index:1;
      }

      input[id="popup"] + label + div > div > label{
        position:absolute;
        color:white;
        font-size:2rem;
        top:-30px;
        right:40px;
        padding:20px;
        border-radius:100%;
        z-index:1;
    
      }
      @media screen and (max-width:1000px){
        input[id="popup"] + label + div > div{
          width:96vw;
          height:54vw;
        }
        
        input[id="popup"] + label + div > div > label{
          top:-30px;
          right:18px;
        }
      }
/* 모달 윈도우 1 끝 */
/* 모달 윈도우 2 시작 */
      input[id="popup2"] + label + div > div{
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:80vw;
        height:80vh;
        /*background-color: white;*/
        z-index:2;
      }

      input[id="popup2"] + label + div > div > label{
        position:absolute;
        color:white;
        font-size:2rem;
        top:-30px;
        right:40px;
        padding:20px;
        border-radius:100%;
        z-index:1;
    
      }
      @media screen and (max-width:1000px){
        input[id="popup2"] + label + div > div{
          width:96vw;
          height:54vw;
        }
        
        input[id="popup2"] + label + div > div > label{
          top:-30px;
          right:18px;
        }
      }
/* 모달 윈도우 2 끝 */
/* 모달 윈도우 3 시작 */
input[id="popup3"] + label + div > div{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:80vw;
  height:80vh;
  /*background-color: white;*/
  z-index:2;
}

input[id="popup3"] + label + div > div > label{
  position:absolute;
  color:white;
  font-size:2rem;
  top:-30px;
  right:40px;
  padding:20px;
  border-radius:100%;
  z-index:1;

}

@media screen and (max-width:1000px){
  input[id="popup3"] + label + div > div{
    width:96vw;
    height:54vw;
  }
  
  input[id="popup3"] + label + div > div > label{
    top:-30px;
    right:18px;
  }
}
/* 모달 윈도우 3 끝 */
/* 모달 윈도우 4 시작 */
input[id="popup4"] + label + div > div{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:80vw;
  height:80vh;
  /*background-color: white;*/
  z-index:2;
}

input[id="popup4"] + label + div > div > label{
  position:absolute;
  color:white;
  font-size:2rem;
  top:-30px;
  right:40px;
  padding:20px;
  border-radius:100%;
  z-index:1;

}

@media screen and (max-width:1000px){
  input[id="popup4"] + label + div > div{
    width:96vw;
    height:54vw;
  }
  
  input[id="popup4"] + label + div > div > label{
    top:-30px;
    right:18px;
  }
}
/* 모달 윈도우 4 끝 */
/* 모달 윈도우 5 시작 */
input[id="popup5"] + label + div > div{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:80vw;
  height:80vh;
  /*background-color: white;*/
  z-index:2;
}

input[id="popup5"] + label + div > div > label{
  position:absolute;
  color:white;
  font-size:2rem;
  top:-30px;
  right:40px;
  padding:20px;
  border-radius:100%;
  z-index:1;

}

@media screen and (max-width:1000px){
  input[id="popup5"] + label + div > div{
    width:96vw;
    height:54vw;
  }
  
  input[id="popup5"] + label + div > div > label{
    top:-30px;
    right:18px;
  }
}
/* 모달 윈도우 5 끝 */
/* modal 6 */
input[id="popup6"] + label + div > div{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:80vh;
  width:25vw;
  
  
  /*background-color: white;*/
  z-index:2;
}

input[id="popup6"] + label + div > div > label{
  position:absolute;
  color:white;
  font-size:2rem;
  top:-30px;
  right:18px;
  padding:20px;
  border-radius:100%;
  z-index:1;

}

@media screen and (max-width:1000px){
  input[id="popup6"] + label + div > div{
    height:90vh;
    width:80vw;
  }

  input[id="popup6"] + label + div > div > label{
    top:30px;
    right:18px;
}
}
/* modal 6 End*/





/* 메인 정리 끝 */






/* Footer start*/
.footer{
  bottom:0;  
}

.footer-infBox{
  margin-bottom:3vh;
  margin-left:calc(2vw + 10px);
}

.footer > .footer-infBox > .co-inf{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight: 300;
  font-size:.6rem;
  color:white;  
}



/* Footer end*/
