@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');

@font-face{
    src : url("../source/font/medio.otf");
    font-family:'medio';
}

.loader {
    margin:0;
    padding:0;
    position:absolute;
display:flex;
  background-color:black;
  color:white;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  z-index:100;
}

/* 노말라이즈 시작 */
* {
    box-sizing: border-box;
}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    color:inherit;
    text-decoration: none;
}

/* 노말라이즈 끝 */
/* 라이브러리 시작 */

.border_blue{
border:3px solid blue;
}

.border_red{
    border:0px solid red;
}

.border_green{
    border:3px solid green;
}

/* 라이브러리 끝 */
/* 커스텀 커서 시작 */
* {
    cursor:none;
}

body{
    background-color:white;
}
.cursor {
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:100;
    transition:width .1s, height .1s, background-color 1s;
  }

  .need-to-cursor-big{
    width:50px;
    height:50px;
  }
/* 커스텀 커서 끝 */

/* 헤더 시작 */
.top_bar{
    position:absolute;
    display:flex;
    justify-content:space-between;
    width:100vw;
    height:100vh;
    font-family:'Roboto','sans-serif';
    font-weight: 700;
}

.header_logo-wrap{
    margin-top:5vh;
    margin-left:calc(2vw + 10px);
}

.header_logo-wrap > a{
    font-size:1.2rem;
    background-color:white;
    border-radius:3px;
    font-size:1.2rem;
    width:10px;
    height:10px;
    padding:3px;
    transition:all .5s;
}

.header_logo-wrap > a:hover{
    font-size:1.2rem;
    background-color:black;
    color:white;
    border-radius:3px;
    font-size:1.2rem;
    width:10px;
    height:10px;
    padding:3px;
    transition:all .5s;

}

.header_right > ul{
    display:flex;
    margin-top:5vh;
    margin-right:2vw;
    
}

.header_right > ul > li > a{
    background-color:white;
    border-radius:3px;
    font-size:1.2rem;
    padding:5px;
    width:10px;
    height:10px;
    margin:10px;
    transition:all .5s;
}

.header_right > ul > li > a:hover{
    background-color:black;
    color:white;
    transition:all .5s;
}

/* 헤더 끝 */
  /* 메인 박스 시작 */
.main_bar{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color:white;
}

.main_box{
    text-align: center;
    font-size:8rem;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main_bar > .main_box > div{
    border-radius:100%;
    height:10vw;
    width:10vw;
    background-color: black;
    transition:all .5s;
}

  /* 메인 박스 끝 */

/* 푸터 시작 */
.bottom_bar{
    position:fixed;
    bottom:0;
}

.bottom_bar_box{
    height:3vh;
    width:100vw;
}

.bottom_bar > .bottom_bar_box{
    display:flex;
    margin-left:2vw;
    color:black;
    font-size:.6rem;
    font-family: 'Noto Sans Kr', sans-serif;
    font-weight: 300;
}
.bottom_bar > .bottom_bar_box > .bottom_bar_inf > .ftc_inf{
    display:inline-block;
    margin-right:10px;
}

/* 푸터 끝 */

/* 비디오 시작 */

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    
}

/* 비디오 끝 */

/* 마르퀴 시작 */
.text-wrapper{
    font-family:'Roboto', 'sans-serif';
    margin-top:-100vh;
    font-weight: 700;
    display:flex;
    justify-content: flex-start;
    overflow: hidden;
}

.text-wrapper > h1{
    font-size: 7rem;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rt1 20000ms linear infinite;

}
.text-wrapper > h1 > span:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 0, 0, 0.501);
}

.text-wrapper > h1:nth-of-type(2n){
    color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}


@keyframes move-rt1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
/* 마르퀴 끝 */


/* 스크립트 토글 시작 */
.big {
    transform:scale(2);
}

.showback{
    background-color:transparent;
}

.small{
    height: 5vw;
    width: 5vw;
}
/* 스크립트 토글 끝 */
