@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://use.typekit.net/ipm5esh.css");

/* Nomalize start */
* {
    box-sizing: border-box;
}

*::selection {

  background-color: #E8642B;

}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{ 
    color:inherit;
    text-decoration: none;
}



/* Nomalize end */






html{
  background-color:black;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
      .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family:'roboto','sans-serif';
    font-size:15px;
    position: absolute;
    z-index:300;
    color:white;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color:#0540F2;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





   /* Header */
   .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
      
    .header-logobox{
      z-index: 300;
    }

    .header-logobox > a{
      
      color:white;
      vertical-align: middle;
      padding:3px;
      z-index: 300;

      display:flex;
      align-items: center;
      
    }

    .header-logobox > a > img{
      
      width:80px;
    }
 

  .header-menubox{
    display:flex;
      
    justify-content: space-between;
    align-items:center;
    height:30px;
    width:80px;
    position: relative;
    z-index: 201;

  }

  .header-menu-en{
    display:flex;
    
    align-items: center;
    height:30px;

    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 600;
    font-size:1rem;
    color:#f2f0f0;
    
    transition: .3s;
  }

  .header-menubox:hover > .header-menu-en{
    font-size:1.3rem;
    
    transition: .5s;
  }

  .header-menu-dot{
    display:flex;
    
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;

  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:white;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > .header-menu-dot > .menu-first{
    display:none;
  }

  .header-menubox:hover > .header-menu-dot > .menu-third{
    display:none;
  }

  .header-menubox:hover > .header-menu-dot > .menu-second{
    width:25px;
    height:25px;
    border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:#0d0d0d;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  flex-direction: column;
  font-family:'Roboto','sans-serif';
  font-weight:700;
  justify-content: center;
  align-items: start;
  margin-top:5vh;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper div:hover {
  text-decoration: underline;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}


  
  /* End Header */





  /* 메인 박스 시작 */
  .main{
    display:block;
    align-items: center;
    background-color:black;
}

  .main > .titleBox{
    display:flex;
    justify-content: center;
}

  .main > .titleBox > .title{
    margin-top:15vh;
    position:relative;
    color:white;
    font-family:'Roboto', sans-serif;
    font-size:4rem;
    font-weight:700;
  }


.main > .subtitleBox{
  display:flex;
  color:white;
  justify-content: center;
}

.main > .subtitleBox > .subtitle:hover{
  text-decoration: underline wavy;
  text-decoration-color: #0540F2;;
  text-underline-position: under;
}

  .main > .subtitleBox > .subtitle-star{
    font-size:0.9rem;
  }

  /* 워크 래퍼 시작 */

  .work_wrapper > div{
    position:relative;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    box-sizing: border-box;
  }

  .work_wrapper div:nth-of-type(2){
    margin-bottom:15vh;

  }
  .work_wrapper div > .work{
    position:relative;
    margin-top:1vw;
    color:white;
    width:61vw;
    height:75vh;
    top:50%;
    text-align: center;
  }
  
  .work_wrapper div > .work > img{
    opacity:30%;
    border-radius: 20px;
    width:60vw;
    height:75vh; 
    object-fit: cover;
    transition: all 0.5s;
  }

  .work_wrapper div > .work:hover > img{
    opacity:100%;
    transform: scale(0.8);
  }

  .work_wrapper div > .work > .img_name{
    display:flex;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    opacity:1;
    font-size:1.5rem;
    position:absolute;
    width:90%;
    height:90%;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    
  }
 
  .work_wrapper div > .work > .img_name h5{
    font-weight:700;
    margin-bottom:5px;
  }
  .work_wrapper div > .work > .img_name h6{
    font-family:'Roboto',sans-serif;
    font-weight:300;
    margin:1px;
  }



  
  @media screen and (max-width:960px){
    .work_wrapper > div{
      width:100vw;
    }

      .work_wrapper div > .work{
        position:relative;
        width:95vw;
        height:55vw;
        top:50%;
      }
      
      .work_wrapper div > .work > img{
        border-radius: 20px;
        width:95vw;
        height:55vw;
        object-fit: cover;
        transition: all 0.5s;
      }
    
      .work_wrapper div > .work > .img_name{
        opacity:100;
        font-size:1rem;
        position:absolute;
        height:90%;
        width:90%;
        top:50%;
        transform: translateX(-50%), translateY(-50%);
        
      }

      .workBox div > .work > .img_name h5{
        font-weight:700;
        margin-bottom:5px;
      }
      .workBox div > .work > .img_name h6{
        font-family:'Roboto',sans-serif;
        font-weight:300;
        margin:1px;
      }
    }

  @media screen and (max-width:480px){
    .work_wrapper{
      
    }
    .work_wrapper > div{
      width:100vw;
    }

      .work_wrapper div > .work{
        position:relative;
        width:95vw;
        height:95vh;
        top:50%;
      }
      
      .work_wrapper div > .work > img{
        border-radius: 20px;
        width:95vw;
        height:95vh;
        object-fit: cover;
        transition: all 0.5s;
      }
    
      .work_wrapper div > .work > .img_name{
        opacity:100;
        font-size:1rem;
        position:absolute;
        height:90%;
        width:90%;
        top:50%;
        transform: translateX(-50%), translateY(-50%);
        
      }

      .workBox div > .work > .img_name h5{
        font-weight:700;
        margin-bottom:5px;
      }
      .workBox div > .work > .img_name h6{
        font-family:'Roboto',sans-serif;
        font-weight:300;
        margin:1px;
      }

  .contemp{
    display:none;
  }
    }
  /* 워크 래퍼 끝 */


  .displayFlex{
    display:flex;
  }
  
/* 메인 정리 끝 */

/* Footer start*/
.footer{
  bottom:0;  
}

.footer-infBox{
  margin-bottom:3vh;
  margin-left:calc(2vw + 10px);
}

.footer > .footer-infBox > .co-inf{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight: 300;
  font-size:.6rem;
  color:white;    
}

/* Footer end*/
