@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');

@font-face{
  src : url("/source/font/FontsFree-Net-Avalon.ttf");
  font-family:'Avalon';
}


/* Normalize start*/
* {
    box-sizing: border-box;
}

body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{ 
    color:inherit;
    text-decoration: none;
}

/* Normalize end*/

/* Lib start*/
/* Cursor start*/
* {
  cursor:none;
}

body{
  background-color:white;
}
.cursor {
  top:-300px;
  left:-300px;
  position:fixed;
  width:15px;
  height:15px;
  border-radius:50%;
  background-color:white;
  mix-blend-mode:difference;
  pointer-events:none;
  transform:translateX(-50%) translateY(-50%);
  z-index:200;
  transition:width .1s, height .1s, background-color 1s;
}

.need-to-cursor-big{
  width:50px;
  height:50px;
}
/* Cursor end*/

/* Loader start*/
.loader {
  position:fixed;
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  color:white;
  z-index:200;
}
/* Loader end*/

/* ScrollBar start*/
html{
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:0px;
  
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* ScrollBar end*/

/* Lib end*/

/* Custom start */
body{
  background-color:white;
}

/* Header start */
.header{
  position:fixed;
  display:flex;
  align-items: flex-end;
  justify-content:space-between;
  width:100vw;
  z-index:100;
}

.header-logoBox{
  margin-top:5vh;
  margin-left:calc(2vw + 10px);
}

.header-logoBox > a{
  font-family:'Roboto','sans-serif';
  font-weight: 700;
  color:#231f20;
  vertical-align: middle;
  border-radius:3px;
  font-size:1.2rem;
  width:10px;
  height:10px;
  padding:3px;
  transition:all .5s;
}

.header-logoBox > a:hover{
  color:#231f20;
  transition:all .5s;
}

.header-menuBox > ul{
  display:flex;
  margin-top:5vh;
  margin-bottom:3px;
  margin-right:2vw;
}
.header-menuBox > .header-menuBox-wrapper > li{
  margin:0 15px;
}

.header-menuBox > ul > li > a{
  color:#231f20;
  font-family:'Avalon';
  font-size:1rem;
  padding:3px;
  transition:all .5s;
}

.header-menuBox > ul > li > a:hover{
  background-color:#F2F2F2;
  padding:3px;
  border-radius:10%;
  color:#231f20;
  transition:all .5s;
}

/* Header end */
/* 메인 정리 시작 */
.main_box{
  width:100%;
  overflow: hidden;
}

.main_box > .card1 > video{
  display:flex;
  object-fit: cover;
  width:100vw;
  height:100vh;
  pointer-events: none;
  z-index:1;
  color:white;
  font-size:100rem;
  box-sizing:border-box;
}
.main_box_section{
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.card2{
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}

.card2 > div{
  margin:0 30px;
}
.card2 h6{
  font-size: 1rem;
  font-family:'NotosansKr', Sans-serif;
  font-weight:500;
}

.card2 img{
  height:120px;
}

.card3, .card4{
  display:flex;
  align-items: center;
  justify-content: center;
}

.card3 > div,
.card4 > div{
  margin:auto auto;
  text-align:center;
}

.card3 > div > video,
.card4 > div > video{
  width:80%;
}

.card5{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150vh;
}
.card5 > .fontStyle{
  font-family:'Avalon';
  font-style:italic;
  font-size: 1.4rem;
  height:20vh;
  padding-top:3%;
}

.card5 > .font{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:30px;
}

.card5 > .font > img{
  width:80%;
}

.card5 > .font > h5{
  font-family:'Avalon';
  font-size: 1rem;
  margin-bottom: 25px;
}

.card6 > .mainPhrase{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height:20vh;

}
.card6 > .mainPhrase > h5{
  font-family:'Avalon';
  font-size: 1.4rem;
  font-style:italic;
  text-align:center;

}
.card6 > .videoBox-6{
  display:flex;
  justify-content: center;
  align-items: center;
}
.card6 > .videoBox-6 > video{
width:100vw;
height:80vh;
transform:scale(1.5);
transform:translateY(-10vh);
z-index: -1;
}

.card7 > .mainPhrase{
  height:20vh;
  padding-top:5vh;
}
.card7 > .mainPhrase > h5{
  font-family:'Avalon';
  font-size: 1.4rem;
  font-style:italic;
  text-align:center;
}
.main_box > .card7 > .videoBox{
  width:100vw;
  height:80vh;
}
.main_box > .card7 > .videoBox > video{
  object-fit: cover;
  width:100vw;
  height:100vh;
}

.card8 > .audio > h5{
  font-family:'Avalon';
  font-size: 1.4rem;
  font-style:italic;
  text-align:center;
}
.card8{
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card8 > .audio{
  padding-top:5vh;
  height:20vh;
}

.card8 > .audioBox{
  border-radius: 3%;
  display:flex;
  align-items: flex-end;
  margin:auto auto;
  margin-top:15vh;
  width:50vh;
  height:50vh;
  background-image: url(/source/img/audioPicture2.jpg);
  background-position:center;
  background-size:200%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.card8 > .audioBox > audio{
  width:100%;
  margin-bottom:1vh;
}

.card9{
  display:block;
  height:170vw;
}

.card9 > .locate{
  font-family:'Avalon';
  font-size: 1.4rem;
  font-style:italic;
  text-align: center;
  height:20vh;
  padding-top:5vh;
  top:0;
}
.card9 > .locate > h5{
  margin-bottom:100%;
}
.card9 > .imgWrapper{
  display:block;
  width:100vw;
  height:80vh;
  text-align: center;
}

.card9 > .imgWrapper  .imgBox > img{
  width:50vw;
  height:50vw;
}




@media screen and (max-width:1000px){
  .card2{
  display:block;
  text-align: center;
  color: black;
    
  }
  .card2 > div:first-child{
    margin-top:50%;
  }

  .card2 > div:last-child{
    margin-top:100px;
  }

  .card2 img{
    height:100px;
  }

  .card2 h6{
    text-align:justify;
  }

  .card6 > video{
    display:flex;
    object-fit: cover;
    

  width:100vw;
  height:80vh;
  z-index:1;
  box-sizing:border-box;
  }
  .card7 > .mainPhrase > h5{
    margin:auto auto;
  }

  
  .main_box > .card7 > .videoBox > video{
    object-fit: cover;
  }

  .card8 > .audioBox{
    width:70vw;
    height:70vw;
  }

  .card9{
    height:200vw;
  }

  }

  /* 메인 정리 끝 */

/* Footer start*/
.footer{
  bottom:0;
}

.footer-infBox{
  margin-bottom:3vh;
  margin-left:calc(2vw + 10px);
}

.footer > .footer-infBox > .co-inf{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight: 300;
  font-size:.6rem;
  color:black;  
}

/* Footer end*/

/* Custom end */
