
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+HK:wght@200..900&display=swap');


@import url("https://use.typekit.net/ipm5esh.css");

@font-face {
  font-family: 'LeferiBaseType-RegularA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Nomalize */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    white-space: nowrap;
}

*::selection {

  background-color: #E8642B;
  color:#ffffff;

}

body, div, div{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    color:inherit;
    text-decoration: none;
}

h1{
  font-size:4em;
}

h2{
  font-size:2em;
}

h3{
  font-size:1em;
}

/* End Nomalize */






/* Lib */
.title{
  margin:0;
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 3rem;
  font-weight:bold;
  color:#b9b9b9;
}

.subtitle{
  margin:2px;
  font-family: 'avalon';
  font-weight: 100;
  font-size: 1rem;
  color:#b9b9b9;
}
/* End Lib */







/* Custom */
 





html{
  background-color:white;
}






/* Scrollbar start */
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: #FF0000;
}
/* Scrollbar end */






   /* Cursor */
   * {
    cursor:none;
}

.cursor {
    top:-300px;
    left:-300px;
    position:fixed;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:white;
    mix-blend-mode:difference;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
    z-index:200;
    transition:width .1s, height .1s, background-color 1s;
  }


  .need-to-cursor-big{
    width:50px;
    height:50px;
  }

  @media screen and (max-width:1000px){
    *{
      cursor:auto;
    }
    .cursor {
      display:none;
    }
      
      .need-to-cursor-big{
        display:none;
    }
  }

  /* End Cursor */






  /* Loader */
  .progress{
    background-color: #e9e9e9;
    color: #0d0d0d;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:300;
  }
  
  .progress-text{
    font-family: "aktiv-grotesk", sans-serif;
    font-size:15px;
    position: absolute;
    z-index:300;
    color:#0d0d0d;
    top:50%;
    left:5%;
  }
  
  .progress-bar{
    position: absolute;
    background-color: #E8642B;
    top:52.5%;
    left:5%;
    width:190px;
    height:3px;
  }


  /* End Loader */





   /* Header */
   .header{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    height:100px;
    z-index: 101;
    padding:0 30px;
    }
      
    .header-logobox{
      z-index: 300;
    }

    .header-logobox > a{
      vertical-align: middle;
      padding:3px;
      z-index: 300;

      display:flex;
      align-items: center;

    
      
    }

    .header-logobox > a > img{
      
      width:90px;
    }
 

  .header-menubox{
    display:flex;
      
    justify-content: space-between;
    align-items:center;
    height:30px;
    width:80px;
    position: relative;
    z-index: 201;

  }

  .header-menu-en{
    display:flex;
    
    align-items: center;
    height:30px;

    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 600;
    font-size:1rem;
    color:#0d0d0d;
    
    transition: .3s;
  }

  .header-menubox:hover > .header-menu-en{
    font-size:1.3rem;
    
    transition: .5s;
  }

  .header-menu-dot{
    display:flex;
    
    justify-content: space-around;
    align-items:center;
    height:30px;
    width:30px;

    

  }



  .menu-first{
    height:5px;
    width:5px;
    background-color:#0d0d0d;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .menu-second{
    height:5px;
    width:5px;
    background-color:#0d0d0d;
    border-radius: 100%;
    z-index: 199;
    transition: all .3s;
  }

  .menu-third{
    height:5px;
    width:5px;
    background-color:#0d0d0d;
    border-radius: 100%;
    z-index: 200;
    transition: all 1s;
  }

  .header-menubox:hover > .header-menu-dot > .menu-first{
    display:none;
  }

  .header-menubox:hover > .header-menu-dot > .menu-third{
    display:none;
  }

  .header-menubox:hover > .header-menu-dot > .menu-second{
    width:25px;
    height:25px;
    border-radius: 100%;
  }

  .scale{
    scale:1000;
    background-color:#0d0d0d;
    transition:
    scale 1s ease-in-out,
    background-color 1.5s;
    
  }

.menuSelector{
  color:white;
  position:absolute;
  display:flex;
  position:fixed;
  opacity:0;
  top:-100%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 200;
}

.opacity{
  top:45%;
  opacity:100;
  transition: 
  top .1s, 
  opacity 2s ease-in-out;
}

.menuSelectorWrapper{
  display:none;
  flex-direction: column;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight:700;
  justify-content: center;
  align-items: start;
  margin-top:5vh;
  font-size:3.5rem;
  z-index: 100;
}

.menuSelectorWrapper div:hover {
  text-decoration: underline;
  font-size:4rem;
  transition:
  all 0s,
  font-size .5s;
}


@media screen and (max-width:480px){

  .menuEn{
  display:none;
  }
  
  }
  
  /* End Header */














/* Main start */

.main{
  font-family:'Noto Sans KR', sans-serif;
  font-size:1rem;
  font-weight:300;
  width:100vw;
  overflow:hidden
}


.area-1{
  display:flex;
  width:100vw;
}

.area-1 > .mainImg{
  width:100%;
  height:100%;
}

.area-1 > .mainImg > img{
  object-fit: cover;
}



@media screen and (max-width:480px){
  .area-1{
    height:100vh;
  }

  .area-1 > .mainImg{
    width:100%;
    height:100%;
    overflow:hidden;
  }

  .area-1 > .mainImg > img{
    width:100%;
    height:100%;
    scale: 3;
    transform:translate(-50px, 0px);
    object-fit:contain;
  }

}

.area-2{
  display:flex;
  width:100vw;
  padding:150px 150px;
  margin-top:150px;
}

.area-2 > .overview{
  display:flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  color:#0d0d0d;

  width: 100vw;
  height: 100vh;
  line-height:1.8;
  
}

.area-2 > .overview > .overviewTitle{
  font-size: 1.6rem;
  font-weight:600;
  text-align: center;
}

.area-2 > .overview > .overviewGeosil{
  margin-top:50px;
  text-align: center;
  
}

.area-2 > .overview > .overviewDotplot{
  margin-top:15px;
  text-align: center;
}

 .area-2 > .overview > .overviewLogo{
  display:flex;
  justify-content: center;
  width:30%;
  margin-top:100px;
}

.area-2 > .overview > .overviewLogo > img{
  min-width:390px;
  width:100%;
  border-radius: 30px;

}

@media screen and (max-width:480px){
  .area-2{
    padding:100px 0px;
  }
  
  .area-2 > .overview > .overviewTitle{
    width:80%;
    font-size: 1.2rem;
    text-align: justify;
    white-space: wrap;
  }

  .area-2 > .overview > .overviewTitle br{
    display:none;
  }
  
  .area-2 > .overview > .overviewGeosil{
    margin-top:50px;
    width:80%;
    text-align: justify;
    white-space:wrap;
  }

  .area-2 > .overview > .overviewGeosil br{
    display:none;
  }
  
  .area-2 > .overview > .overviewDotplot{
    width:80%;
    margin-top:15px;
    text-align: justify;
    white-space:wrap;
    
  }
  .area-2 > .overview > .overviewDotplot br{
    display:none;
  }


   .area-2 > .overview > .overviewLogo{
    margin-top:50px;
  }

}





.area-3{
  width:100vw;
  padding:100px 150px;
}


.area-3 > .discover{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.discover > .discoverTitleCon{
  width:100%;
  display:flex;
  flex-direction: column;
}

.discover > .discoverTitleCon > .discoverTitle{
  width:100%;
  font-size:1.6rem;
  font-weight:600;
  margin-bottom:30px;
}


.discover > .discoverPicto{
  display:flex;
  margin:200px 0;

  gap:15px;
}

.discover > .discoverPicto div{
  display:flex;
  justify-content: center;
  align-items: center;

  width:200px;
  height:200px;
  border:.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 99999px;

  font-size: 1.4rem;
  font-weight:400;
  
}

.discover > .discoverPicto > div span{

  font-size:1.2rem;
}

.solution{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solution > .solutionLine{
  border:.1px solid rgba(0,0,0,0.2);
  width:1px;
  height:500px;
  margin-top:-100px;
}

.solution > .solutionPicto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:100%;
  margin-top:100px;


  font-size:1.2rem;
  font-weight:300;
  margin:200px 0;

  color:rgba(133, 61, 14, 0.6);
}


@keyframes cirToRec {
  0% {
    border-radius: 0px;
  }
  50%{
    border-radius: 300px;
  }
  100% {
    border-radius:0px;
  }
}

@keyframes recToCir {
  0% {
    border-radius: 300px;
  }
  75%{
    border-radius: 0px;
  }
  100% {
    border-radius:300px;
  }
}

.solution > .solutionPicto div:nth-child(1){
  display:flex;
  align-items: center;
  justify-content: center;

  width:300px;
  height:300px;
  border:.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 9999px;

  animation-name: cirToRec;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


.solution > .solutionPicto div:nth-child(2){
  display:flex;
  align-items: center;
  justify-content: center;

  width:270px;
  height:270px;
  border:.5px solid rgba(0, 0, 0, 0.3);;
  border-radius:5px;
  margin-top:-285px;

  animation-name: recToCir;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  }






  @media screen and (max-width:480px){

    .area-3{
      padding:100px 25px;
    }
    
    .discover > .discoverTitleCon > .discoverTitle{
      font-size:1.2rem;
    }
    
    .discover > .discoverTitleCon > .discoverSubtitle{
      text-align: justify;
      white-space: wrap;
    }
    .discover > .discoverTitleCon > .discoverSubtitle br{
      display:none;
    }


    .discover > .discoverPicto{
      display:flex;
      flex-direction: column;
      margin:100px 0;
    
      gap:50px;
    }

    .solution > .solutionPicto{
      margin-bottom:0px;
    }

    .solution > .solutionLine{
      margin-top:0px;
    }
    
    .solution > .solutionPicto{
      margin-top:100px;
    }

  }




.area-4{
  width:100vw;

  display:flex;
  flex-direction: column;

  padding:100px 0;
  overflow: hidden;
}

.identity > .identityCon{
  display:flex;
  flex-direction: column;
  padding:0 150px;
  margin-bottom: 100px;
  width : 100%;
  
}

.identity > .identityCon >.identityTitle{
  font-size:1.6rem;
  font-weight:600; 
  margin-bottom:30px;
}

.area-4 > video{
  min-width:1920px;
  width:100%;
  border-radius: 10px;
  align-self: center;
  
}


@media screen and (max-width:480px){

  .identity > .identityCon{
    padding:0 25px;
  }
  
  .identity > .identityCon >.identityTitle{
    font-size:1.2rem;
  }
  
  .identity > .identityCon >.identitySubtitle{
    white-space: wrap;
  }

  .identity > .identityCon >.identitySubtitle br{
    display:none;
  }

  .area-4 > video{
    min-width:480px;
    scale:1.5;
    margin-top: 50px;
    transform:translate(60px, 0px);
  }
}



.area-5{
  width:100vw;
  padding:100px 150px;
}

.concept > .conceptCon{
  display:flex;
  flex-direction: column;
  width : 100%;
  margin-bottom: 100px;
}

.concept > .conceptCon >.conceptTitle{
  font-size:1.6rem;
  font-weight:600; 
  margin-bottom:30px;
}

.concept > .conceptImgCon{
  display:grid;
  width: 100%;
  min-width:1200px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 200px;
  grid-auto-rows: 1000px;
  gap:10px;
  white-space: nowrap;
}

.concept > .conceptImgCon div{
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.concept > .conceptImgCon div img{
  white-space: nowrap;
  width:100%;
  height:100%;
  
}

.concept > .conceptImgCon > .conceptImg-1{
  display:grid;
  border-radius: 20px;
  grid-column: 1 / 4;
  grid-row: 1 / 4;

}
.concept > .conceptImgCon > .conceptImg-1 > img{
  width:120%;
  transform: translate(-100px, -250px)
}

.concept > .conceptImgCon > .conceptImg-2{
  display:grid;
  border-radius: 20px;
  grid-column: 4 / 6;
  grid-row: 1 / 3;

}

.concept > .conceptImgCon > .conceptImg-3{
  display:grid;
  border-radius: 20px;
  grid-column: 4 / 6;
  grid-row: 3 / 4;

}

.concept > .conceptKey{
  display:flex;
  flex-direction: column;
  margin-top: 200px;
  font-family: 'LeferiBaseType-RegularA';
  font-size:4rem;
}

.conceptKey > .conceptKey-2{
  text-align: center;
  margin-top:100px;
}

.conceptKey > .conceptKey-3{
  text-align: right;
  margin-top:100px;
}


@media screen and (max-width:480px){
  .area-5{
    padding:100px 25px;
  }

  
  .concept > .conceptCon >.conceptTitle{
    font-size:1.2rem;
    font-weight:600; 
    margin-bottom:30px;
  }

  .concept > .conceptCon > .conceptSubtitle{
    text-align: justify;
    white-space: wrap;
  }

  .concept > .conceptCon > .conceptSubtitle br{
    display:none;
  }

  .concept > .conceptImgCon{
    min-width:300px;
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 350px;
    grid-auto-rows: 350px;
  }
  
  
  .concept > .conceptImgCon > .conceptImg-1{
    display:grid;
    border-radius: 20px;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  
  }
  .concept > .conceptImgCon > .conceptImg-1 > img{
    width:130%;
    transform:translate(-40px, -100px);
    object-fit: cover;
  }
  
  .concept > .conceptImgCon > .conceptImg-2{
    display:grid;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  
  }
  .concept > .conceptImgCon > .conceptImg-2 > img{
    object-fit: cover;
  }
  
  .concept > .conceptImgCon > .conceptImg-3{
    display:grid;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  
  }
  
  .concept > .conceptImgCon > .conceptImg-3 > img{
    object-fit: cover;
  }

  .concept > .conceptKey{
    margin-top: 100px;
    font-size:1rem;

  }
}





.area-6{
  width:100vw;
  padding:100px 150px;
}


.elDesign > .elDesignCon{
  display:flex;
  flex-direction: column;
  width : 100%;
  margin-bottom: 100px;
}

.elDesign > .elDesignCon >.elDesignTitle{
  font-size:1.6rem;
  font-weight:600; 
  margin-bottom:30px;
}





.elDesign > .elDesignImgCon{
  display:grid;
  width: 100%;
  min-width:1200px;
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-auto-columns: 200px;
  grid-auto-rows: 200px;
  gap:30px;
  white-space: nowrap;
}

.elDesign > .elDesignImgCon div{
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.elDesign > .elDesignImgCon div img{
  white-space: nowrap;
  width:100%;
  height:100%;
}

.elDesign > .elDesignImgCon > .elDesignImg-1{
  display:grid;
  border-radius: 20px;
  grid-column: 1 / 3;
  grid-row: 1 / 6;

}


.elDesign > .elDesignImgCon > .elDesignImg-2 {
  display:grid;
  border-radius: 20px;
  grid-column: 3 / 11;
  grid-row: 1 / 6;

}

.elDesign > .elDesignImgCon > .elDesignImg-3{
  display:grid;
  border-radius: 20px;
  grid-column: 8 / 11;
  grid-row: 6 / 9;
}

.elDesign > .elDesignImgCon > .elDesignImg-3 img{
  scale: .8;
  transform:translate(80px, -20%);
}

.elDesign > .elDesignImgCon > .elDesignImg-4{
  display:grid;
  border-radius: 20px;
  grid-column: 1 / 8;
  grid-row: 6 / 9;
  
}

.elDesign > .elDesignImgCon > .elDesignImg-4 img{
  transform: translate(0, -230px);
}

.elDesign > .colorCon{
  display:flex;
  width:100%;
  min-width:1200px;
  height:400px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom:150px;
  
}

.elDesign > .colorCon div{
  width:100%;
  height:400px;
}

.elDesign > .colorCon > .color-brown{
  width:60%;
  background-color:#492b14;
  
}
.elDesign > .colorCon > .color-orange{
  width:20%;
  background-color:#f5f5f5;
  
}
.elDesign > .colorCon > .color-navy{
  width:20%;
  background-color:#ec662c;
  
}
.elDesign > .colorCon > div p {
  color: white;
  font-size: 0.8rem;
  margin-left: 10px;
}

.elDesign > .fontCon{
  width:100%;
  min-width:1200px;
  
}

.elDesign > .fontCon img{
  width: 100%;
}

.elDesign > .fontCon > .typeMo{
  display:none;
}

@media screen and (max-width:480px){

  .area-6{
    padding:0px 25px;
  }
  
  .elDesign > .elDesignCon >.elDesignTitle{
    font-size:1.2rem;
  }
  
  .elDesign > .elDesignCon >.elDesignSubtitle{
    white-space: wrap;
  }
  
  .elDesign > .elDesignCon >.elDesignSubtitle br{
    display:none;
  }
  
  
  .elDesign > .elDesignImgCon{
    display:grid;
    width: 100%;
    min-width:300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap:50px;
    white-space: nowrap;
  }
  
  
  .elDesign > .elDesignImgCon > .elDesignImg-1{
    display:grid;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  
  .elDesign > .elDesignImgCon > .elDesignImg-1 > img{
    transform:translate(0px, -150px);
    object-fit: cover;
  }

  .elDesign > .elDesignImgCon > .elDesignImg-2 {
    display:grid;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  
  }

  .elDesign > .elDesignImgCon > .elDesignImg-2 > img{
    object-fit: cover;
  }

  .elDesign > .elDesignImgCon > .elDesignImg-3{
    display:none;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  
  .elDesign > .elDesignImgCon > .elDesignImg-3 img{
    scale: .8;
    transform:translate(0px, 0px);
  }
  
  .elDesign > .elDesignImgCon > .elDesignImg-4{
    display:grid;
    border-radius: 20px;
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    
  }
  
  .elDesign > .elDesignImgCon > .elDesignImg-4 img{
    transform: translate(0, 0px);
    object-fit: cover;
  }
  
  .elMo{
    margin-top: 100px;
  }

  .elDesign > .colorCon{
    display:flex;
    width:100%;
    min-width:300px;
    height:300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:100px;
  }
  
  .elDesign > .colorCon div{
    width:100%;
    height:300px;
    
  }
  
  .elDesign > .colorCon > .color-brown{
    width:45%;
  }

  .elDesign > .colorCon > .color-orange{
    width:25%;
  }


  .elDesign > .colorCon > .color-navy{
    width:30%;
  }


  .elDesign > .colorCon > div p {
    font-size: 0.5rem;
    margin-left: 15px;
  }
  

  .elDesign > .fontCon{
    margin-top:-50px;
    min-width:300px;
  }
  
  .elDesign > .fontCon > img:first-child{
    width: 100%;
    display:none;
  }

  .elDesign > .fontCon > .typeMo{
    display:block;
  }
}


.area-7{
  width:100vw;
  padding: 100px 150px;
}

.application > .appCon >.appTitle{
  font-size:1.6rem;
  font-weight:600; 
  margin-bottom:30px;
}

.application > .appImg{
  width:100%;
  margin-top:150px;
}

.application > .appImg > .appOn{
  width:100%;
  min-width:1200px;
}

.appOn > .appOnBox_1{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.appOn > .appOnBox_1 > div:first-child{
  width:395px;
  height:775px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  
}

.appOn > .appOnBox_1 > div > video{
  width:101%;
  transform:translate(-0.5%);
}

.appOn > .appOnBox_1 > div:last-child{
width:550px;
height:776px;
border-radius: 30px;
overflow: hidden;
}

.appOn > .appOnBox_1 > div:last-child > img{
  width:100%;
  }

.appOff{
  margin-top: 150px;
}
  
.appOff div{
  width:100%;
  min-width:1200px;
  height:500px;
  
  margin-bottom:50px;
}

.appOff > .sign{
  display:flex;
  justify-content: center;
  gap:10%;
}

.appOff > .sign img:first-child{
  width:35%;
}

.appOff > .sign img:last-child{
  width:44%;
}


.appOff > .poster img{
  width:80%;
}

.appOff > .menu{
  width:100%;
  padding-left:20%;
  overflow:hidden;
}

.appOff > .menu img{
  object-fit: cover;
}

.appOff > .cup{
  display:flex;
  justify-content: center;
}

.appOff > .cup > img:first-child{
  width: 50%;
}

.appOff > .cup > img:last-child{
  margin-left:10%;
  width: 30%;
}

.appOff div img{
  width:100%;
  height:100%;
  border-radius: 25px;
  object-fit: cover;
  
}

@media screen and (max-width:480px){

  .area-7{
    padding: 100px 25px;
  }
  
  .application > .appCon >.appTitle{
    font-size:1.2rem;
  }
  
  .application > .appCon >.appSubtitle{
    white-space: wrap;
    text-align: justify;
  }

  .application > .appCon >.appSubtitle br{
    display:none;
  }

  .application > .appImg{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
  }

  
  .appOn > .appOnBox_1{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .appOn > .appOnBox_1 > div:first-child{
    width:380px;
    height: 745px;
  }
  
  .appOn > .appOnBox_1 > div > video{
    width:101%;
    transform:translateY(0px);
  }
  
  .appOn > .appOnBox_1 > div:last-child{
    width:380px;
    height:540px;
  }
  
  .appOff{
    margin-top: 100px;
  }
    
  .appOff div{
    width:100%;
    min-width:300px;
    height:1000px;
  }
  
  .appOff > .sign{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0px;
  }
  
  .appOff > .sign img:first-child{
    width:100%;
  }
  
  .appOff > .sign img:last-child{
    width:100%;
  }
  
  
  .appOff > .poster{
    width:100%;
    height:400px;
    overflow: hidden;
    border-radius: 30px;
  }

  .appOff > .poster img{
    width:100%;
    height: 400px;
    scale:2;
  }
  
  .appOff > .menu{
    width:100%;
    height:700px;
    padding-left:0px;
    border-radius: 30px;
    overflow:hidden;
    
  }
  
  .appOff > .menu img{
    object-fit: cover;
    transform:translateY(-50px);
  }
  
  .appOff > .cup{
    flex-direction: column;
    align-items: center;
  }
  
  .appOff > .cup > img:first-child{
    width: 100%;
    gap:50px;
  }
  
  .appOff > .cup > img:last-child{
    margin-left:0%;
    width: 100%;
  }
  
  .appOff div img{
    width:100%;
    height:100%;
    border-radius: 25px;
    object-fit: cover;
    
  }

  .appOff div img:last-child{
    margin-top:50px;
  }
}
/* Main end */


.displayFlex{
  display:flex;
}


/* Footer start*/
.footer{
  bottom:0;  
}

.footer-infBox{
  margin-bottom:3vh;
  margin-left:calc(2vw + 10px);
}

.footer > .footer-infBox > .co-inf{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight: 300;
  font-size:.6rem;
  color:#0d0d0d;    
}

/* Footer end*/